.m-topbar-left {
    float: left;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.lang {
    display: table-cell;
    vertical-align: middle;
}

.error {
    margin-left: 20%;
}

.table-with-border tr,
th,
td {
    border: 1px solid black;
}

.table-with-border {
    min-width: 1500px;
}

.report-section {
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.th-trainee {
    text-align: center;
    min-width: 200px;
    max-width: 300px;
}

.report-section-mini {
    width: 100%;
    overflow-x: scroll;
    /* overflow-y: scroll; */
}

@media screen and (max-width: 992px) {
    .th-report {
        text-align: center;
        min-width: 500px;
    }

    .th-report-content {
        text-align: center;
        min-width: 250px;
        max-width: 250px;
    }

    .th-report-item {
        text-align: center;
        min-width: 125px;
        max-width: 125px;
    }
}

@media screen and (min-width: 992px) {
    .th-report {
        text-align: center;
        min-width: 1000px;
    }

    .th-report-content {
        text-align: center;
        min-width: 500px;
        max-width: 500px;
    }

    .th-report-item {
        text-align: center;
        min-width: 250px;
        max-width: 250px;
    }
}

@media (max-width: 1024px) {
    .m-body .m-content {
        padding: 20px 20px;
        margin-top: 30px;
    }
}

.border-bottom {
    border-bottom: 1px solid black;
}

.td-report {
    padding: 0 !important;
}

.tb-report {
    width: 100%;
}

.td-day {
    width: 100px;
}

.daily-report {
    width: 550px;
}

.table-editable,
tbody,
tr,
td {
    height: 100%;
}

.table-editable td {
    padding: 0;
}

.edittor {
    height: 100%;
    word-break: break-all;
}
