.m-topbar-left {
    float: left;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.lang {
    display: table-cell;
    vertical-align: middle;
}

.error {
    margin-left: 20%;
}

.table-with-border tr,
th,
td {
    border: 1px solid black;
}

.table-with-border {
    min-width: 1500px;
}

.report-section {
    display: flex;
    overflow-x: scroll;
}

.th-trainee {
    text-align: center;
    min-width: 200px;
    max-width: 300px;
}

.th-report {
    text-align: center;
    min-width: 400px;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.td-report {
    padding: 0 !important;
}

.tb-report {
    width: 100%;
}

.td-day {
    width: 100px;
}
